
body{
  background-color: #051548c3;
  display: flex;
  justify-content: center;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.home-display{
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}
.home, #contact, #detail{
  background-color: #db607b;
  padding: 1em;
  border-radius: 5px;
  min-height: 65vh;
  width: 100%;
  box-shadow:  0px 0px 0 #db607b,
              -1px -1px 0 #d25c75,
              -3px -2px 0 #c7566e,
              -5px -3px 0 #bd4f67,
              -7px -4px 0 #b64b62,
              -9px -5px 0 #ab455b,
              -11px -6px 0 #a23f55,
              -13px -7px 0 #983a4f,
              -15px -8px 0 #8c3548,
              -17px -9px 0 #843143,
              -19px -10px 0 #762b3b,
              -21px -11px 0 #692534,
              -23px -12px 0 #5e202e,
              -25px -13px 0 #541c29,
              -27px -14px 0 #4c1925,
              -29px -15px 0 #441621,
              -31px -16px 0 #37111a,
              -33px -17px 0 #2f0e16, 
              -35px -18px 0 #270b12,
              -36px -19px 18px #270b12d7,
              -37px -19px 1px #270b1290,
              0px 0px 18px #270b125d;
}
#contact,#ingredientTitle, #recipeTitle, .recipeWrapper{
color: white;
font-family: fantasy;
}
#recipeInstructions{
  color: white;
font-family: fantasy;
margin: 8%;
}

#contactForm{
  display: grid;
  margin: 20vw;
  margin-top: 0px;
}
#name, #email, #message{
  border: 4px solid white;
  border-radius: 5px;
}
#contactTitle{
  font-weight: 900;
  font-size: 6vh;
}
#ingredientList, #instructions{
  list-style: none;
  text-align: left;
}
#ingredientTitle{
  font-size: 4vh;
  text-decoration: underline;
}
.recipeWrapper{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20%;
  margin: 0 8%;
}
#inDevelopment{
  margin: 0vw 12vh;
  color: #FDD8DB;
}
#development{
  margin: 4vh 25vw;
  border: 10px solid #FDD8DB;
  border-radius: 5px;
  width: 80vw;
  height: 55vh;
  background-image: url("https://cdn.dribbble.com/users/433429/screenshots/3512879/underconstruction.gif");
  background-position: center;
  background-size: cover;
  filter: hue-rotate(-15deg) contrast(80%);
  display: flex;
  align-items: last baseline;
}
.nav{
  color: white;
  background-color: #db607b;
  display: inline-flex;
  width: 105vw;
  height: 5vh;
  justify-content: space-around;
  padding: 20px 0px;
  border-radius: 5px;
    box-shadow: -5px 5px 10px #393438;
      box-shadow:  0px 0px 0 #db607b,
              -1px 1px 0 #d25c75,
              -2px 2px 0 #c7566e,
              -3px 3px 0 #bd4f67,
              -4px 4px 0 #b64b62,
              -5px 5px 0 #ab455b,
              -6px 6px 0 #a23f55,
              -7px 7px 0 #983a4f,
              -8px 8px 0 #8c3548,
              -9px 9px 0 #843143,
              -10px 10px 0 #762b3b,
              -11px 11px 0 #692534,
              -12px 12px 0 #5e202e,
              -13px 13px 0 #541c29,
              -14px 14px 0 #4c1925,
              -15px 15px 0 #441621,
              -16px 16px 0 #37111a,
              -17px 17px 0 #2f0e16, 
              -18px 18px 0 #270b12,
              -19px 19px 18px #270b12d7,
              -19px 19px 1px #270b1290,
              0px 0px 18px #270b125d;
}

#search{
  width: 200%;
  display: inline;
}
#searchBar{
  font-size: 20px;
  width: 18em;
  padding: 2px;
  border-radius: 5px;
  margin-bottom: 2px;
  background-color: #faf2f2;
  box-shadow: inset 1px 1px 8px #393438;
}
#submit-search{
  background-color: white;
  color: black;
  padding: 4px 5px;
  background-color: #faf2f2;

}
#submit-search:active{
  background-color: white;
  color: black;
  transform: translateX(-2px);
  box-shadow: inset 4px 4px 3px 3px #870062;
}
.title{
margin: 15px 0px;
font-size: 400%;
height: 1.5em;
animation: slide 6s linear;
animation-iteration-count: 1;
  color: #db607b;
  /* color: rgb(239,239,239); */
  text-shadow: 0px 0px 0 rgb(239,239,239),
              -1px 1px 0 rgb(233,233,233),
              -2px 2px 0 rgb(228,228,228),
              -3px 3px 0 rgb(222,222,222),
              -4px 4px 0 rgb(216,216,216),
              -5px 5px 0 rgb(210,210,210),
              -6px 6px 0 rgb(204,204,204),
              -7px 7px 0 rgb(198,198,198),
              -8px 8px 0 rgb(193,193,193),
              -9px 9px 0 rgb(187,187,187),
              -10px 10px 0 rgb(181,181,181),
              -11px 11px 0 rgb(175,175,175),
              -12px 12px 0 rgb(169,169,169),
              -13px 13px 0 rgb(163,163,163),
              -14px 14px 0 rgb(157,157,157),
              -15px 15px 0 rgb(152,152,152),
              -16px 16px 0 rgb(146,146,146),
              -17px 17px 0 rgb(140,140,140), 
              -18px 18px 0 rgb(134,134,134),
              -19px 19px 18px rgba(0,0,0,0.25),
              -19px 19px 1px rgba(0,0,0,0.5),
              0px 0px 18px rgba(0,0,0,.2);
}

.fourth-dimensional {
  background: rgb(60,180,60);
  overflow: hidden;
  span {
    animation: three-d 3s alternate infinite;
    display: block;
    perspective: 30em;
    transform: rotateY( 30deg );
    transform-style: preserve-3d;
  }
}
@keyframes three-d {
  from {
    text-shadow: -2px 2px 0 #fff;
    transform: rotateY(0deg);
  }
  50% {
    text-shadow: -6px 6px 0 #fff;
  }
  to {
    text-shadow: -2px 2px 0 #fff;
    transform: rotateY(360deg) rotateZ(360deg) rotateX(360deg);
  }
}
@keyframes slide{
  0%{
    transform: translateX(140vw)
}
94%{
  transform: translateX(-25vw)
}
96%{
  transform: translateX(-5vw)
}
98%{
  transform: translateX(0vw)
}
99%{
  transform: translateX(-1vw)
}
100%{
  transform: translateX(0vw)
}
}
#menu-card{
  margin: 20px;
  display: grid;
  height: 180px;
  width: 188px;
  background-color: rgba(250, 235, 215, 0.596);
  border-radius: 5px;
}
#food-img{
  width: 180px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-self: center;
margin: 3%;
}
#meal-title{
  background-color: #faf2f2;
  border-radius: 5px;
  margin: 8px;
}
#chickenShake{
  border: 10px solid rgb(74, 90, 106);
  border-radius: 5px;
}
#waiting{
  margin-top: 1em;
  border: 10px solid #FDD8DB;
  color: #FDD8DB;
  border-radius: 5px;
  width: 30em;
  height: 300%;
  background-image: url("https://i.pinimg.com/originals/ae/cc/84/aecc849a13648cbd773cef883cbd1eda.gif");
  background-position: center;
  background-size: cover;
  filter: hue-rotate(-15deg) contrast(80%);
  display: flex;
  align-items: last baseline;
}
#waiting-txt{
margin: 4% 12%;
}
#recipeBtn{
  background-color: transparent;
  padding: 0px;
}

